@model BusinessLayer.Account

@{
    ViewBag.Title = "BalanceEnquiry";
}

<div class="jumbotron bg-light text-dark">
    <div>
        <h1><label id="Label1">Balance Enquiry</label></h1>
    </div>
    <div class="form-group">
        <label id="AccountNO" class="col-form-label">AccountNO</label>
        <label id="Account" class="form-control">@Model.accountNo</label>
    </div>
    <div class="form-group">
        <label id="balanceMsg" class="col-form-label">Account balance:</label>
        <label id="Balance" class="form-control">@Model.amount</label>
    </div>
</div>