@{
    ViewBag.Title = "ChangePassword";
}

<div>
    @ViewBag.message
</div>

@using (Html.BeginForm())
{
    <div class="jumbotron bg-light text-dark">
        <div>
            <h1><label id="Label1">Change Password</label></h1>
        </div>
        <div class="form-group">
            <label id="Label1" class="col-form-label">Old Password</label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control"/>
        </div>
        <div class="form-group">
            <label id="Label1" class="col-form-label">New Password</label>
            <input type="password" name="newPassword1" id="newPassword1" class="form-control" />
        </div>
        <div class="form-group">
            <label id="Label1" class="col-form-label">Confirm Password</label>
            <input type="password" name="newPassword2" id="newPassword2" class="form-control" />
        </div>
        <div><button id="submit" class="btn btn-outline-success">Submit</button></div>

    </div>
}
