@model BusinessLayer.Transaction

@{
    ViewBag.Title = "CustomStatement";
}

<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker();
    })
</script>
<div class="jumbotron bg-light text-dark">
    <div>
        <h1><label id="Label1">Custom Statement</label></h1>
    </div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label id="Label1" class="col-form-label">Account no:</label>
            <label id="Account" class="form-control">@Session["accountNumber"]</label>
        </div>
        <div class="form-group">
            <label id="Label2" class="col-form-label">From Date:</label>
            <input type="text" name="fromDate" id="fromDate" class="form-control date-picker" />
        </div>
        <div class="form-group">
            <label id="Label3" class="col-form-label">To Date:</label>
            <input type="text" name="toDate" id="toDate" class="form-control date-picker" />
        </div>
        <div>
            <input type="submit" class="btn btn-outline-success" value="Submit" />
        </div>
    }
</div>